{% extends "lamebase.html" %}
{% block content %}

<form class="form-signin" method="post" action="{% url 'lamenews.views.register' %}">
{% csrf_token %}

<h2 class="form-signin-heading">Register</h2>

{{ register_form.username.errors }}
<input  id="id_username"
        placeholder="User name"
        class="input-block-level"
        maxlength="{{ register_form.username.field.max_length }}"
        name="{{ register_form.username.html_name }}"
        type="text"
        value="{{ register_form.username.value }}" />

{{ register_form.email.errors }}
<input  id="id_email"
        placeholder="email"
        class="input-block-level"
        name="email"
        type="email"
        value="{{ register_form.email.value }}" />

{{ register_form.password1.errors }}
<input id="id_password1" placeholder="password" class="input-block-level"  name="{{ register_form.password1.html_name }}" type="password" />

{{ register_form.password2.errors }}    
<input id="id_password2" placeholder="re-enter password" class="input-block-level"  name="{{ register_form.password2.html_name }}" type="password" />

<button class="btn btn-large btn-primary" type="submit">Register</button>

<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}