<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <title>lamenews</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
</head>
<body>
    <div class='navbar navbar-inverse navbar-fixed-top'><div class='navbar-inner'><div class='container'>
        <a class='brand' href="{% url 'lamenews' %}">lame news</a>
        <div class='nav-collapse collapse'>
            <ul class='nav'>
            </ul>
            <ul class='nav pull-right'>
                {% if user.is_authenticated %}
                    <li class='dropdown'>
                        <a class='dropdown-toggle' data-toggle="dropdown" href='#'>
                            {{ user.username }}<b class="caret"></b>
                        </a>
                        
                        <ul class='dropdown-menu'>
                            <li><a href='#'>logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href='#'>register</a></li>
                {% endif %}
            </ul>
        </div>
    </div></div></div>
</body>
</html>