{% extends "lamebase.html" %}

{% block content %}

<form class="form-signin" method="post" action="{% url 'lamenews.views.login' %}">
{% csrf_token %}
<h2 class="form-signin-heading">Sign in</h2>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<input type="text"     id="id_username" class="input-block-level" name="username" placeholder="User name" maxlength="254">
<input type="password" id="id_password" class="input-block-level" name="password" placeholder="Password">

<button class="btn btn-large btn-primary" type="submit">Sign in</button>

<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}