<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <title>lamenews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/lamecss.css" %}" rel="stylesheet" media="screen">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
</head>
<body>
    <div class='navbar navbar-inverse navbar-fixed-top'><div class='navbar-inner'><div class='container'>
    
        <a class='brand' href="{% url 'lamenews' %}">lame news</a>
        <div class='nav-collapse collapse'>
            <ul class='nav'>
            </ul>
            <ul class='nav pull-right'>
                {% if user.is_authenticated %}
                    <li class='dropdown'>
                        <a class='dropdown-toggle' data-toggle="dropdown" href='#'>
                            {{ user.username }}<b class="caret"></b>
                        </a>
                        
                        <ul class='dropdown-menu'>
                            <li><a href='{% url 'lamenews.views.logout' %}'>logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href='{% url 'lamenews.views.register' %}'>register</a></li>
                    <li><a href='{% url 'lamenews.views.login' %}'>login</a></li>
                {% endif %}
            </ul>
        </div>
    </div></div></div>
    <div class='container'>{% block content %}{% endblock %}</div>
</body>
</html>