{% extends "lamebase.html" %}
{% block content %}

<form class="form-signin" method="post" action="{% url 'lamenews.views.register' %}">
{% csrf_token %}

<h2 class="form-signin-heading">Register</h2>

{% for field in register_form %}
    {{ field.errors }}
    {{ field }}
{% endfor %}
<!--
<input id="id_username"  class="input-block-level" name="{{ register_form.username.html_name }}"  placeholder="User name" type="text" maxlength="{{ register_form.username.field.max_length }}" />
<input id="id_password1" class="input-block-level" name="{{ register_form.password1.html_name }}" placeholder="Password" type="password" />
<input id="id_password2" class="input-block-level" name="{{ register_form.password2.html_name }}" placeholder="Type password again" type="password" />
-->
<button class="btn btn-large btn-primary" type="submit">Register</button>

<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}