{% extends 'lame/base.html' %}

{% block content %}

<div class='row-fluid'>
    <div class='span4'>
        <h2>Recent</h2>
        {% include 'lame/posts.html' with posts=recent id_prefix='recent' %}
    </div>
    <div class='span4'>
        <h2>most visited</h2>
        {% include 'lame/posts.html' with posts=most_visited id_prefix='mostvisited' %}
    </div>
    <div class='span4'>
        <h2>Most voted</h2>
        {% include 'lame/posts.html' with posts=most_upvoted id_prefix='mostupvoted' %}
    </div>
</div>
{% endblock %}
